body{
  min-height: 100vh;
  background: linear-gradient(#2b1055,#7597de);
  overflow-x: hidden;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width:80%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
}
header .logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  list-style: none;
  margin-left: 20px
}
header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active{
  background: #FFF;
  color: #2b1055;
}
section{
  position: relative;
  /* width: 100%; */
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522,transparent);
  z-index: 1000;
}
section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
/* section img#moon{
  mix-blend-mode: screen;
} */
section img#mountains_front{
  z-index: 10;
}
#text{
  position: absolute;
  color: #FFF;
  right: -350px;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}
#btn{
  text-decoration: none;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 40px;
  background: #FFF;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(200px);
}
.sec{
  position: relative;
  padding: 100px;
  background-color: #1c0522;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #FFF;
}
.sec p{
  font-size: 1em;
  color: #FFF;
}
.sec span{
  position: absolute;
  bottom: -50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  animation: animate 4s linear infinite;
}
.sec span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%,-70%);
  background: radial-gradient(#fff,transparent);
  border-radius: 50%;
}
@keyframes animate{
  0%{
    transform: translateY(0%);
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100%{
    transform: translateY(-1200%);
    opacity: 0;
  }
}

.sec .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  /* background: rgba(255, 255, 255, 0.1); */
  background-image: url("https://images.pexels.com/photos/756856/pexels-photo-756856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.sec .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.sec .card:hover .content{
  transform: translateY(0px);
  opacity: 1;

}
.sec .card .content h2{
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.sec .card .content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.sec .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.sec .card .content a{
position: relative;
display: inline-block;
padding: 8px 20px;
margin-top: 15px;
background: #fff;
color: #000;
border-radius: 20px;
text-decoration: none;
font-weight: 500;
}
